* {
   box-sizing: border-box;
}

html {
   min-height: 100vh;
}
body {
   min-height: 100%;
   font-family: $font;
   background: linear-gradient(55deg, $portGore 25%, $electricViolet);
   background-color: $portGore;
   color: $white;
}

a {
   text-decoration: none;
   color: $white;
   transition: color .5s;
}
a:hover {
   color: $turquoise;
}

button {
   border: none;
   cursor: pointer;
   outline: none;
}