.errors {
   position: absolute;
   width: 320px;
   padding: 5px;
   border-radius: 5px;
   color: $hollywoodCerise;
   font-size: .9rem;
   background-color: $portGore;
   left: 50%;
   transform: translate(-50%);
}
.errors > p {
   text-align: center;
   margin: 0;
   margin-bottom: 3px;
}

.movies {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
   justify-content: space-between;
   gap: 5px;
}
.movie {
   padding: 5px;
   transition: box-shadow .3s;

   display: flex;
   flex-direction: column;
}
.movie:hover,
.movie:hover .movie__poster {
   box-shadow: 0px 0px 1px $white;
}
.movie__poster {
   height: auto;
}
.movie__details {
   margin-top: auto;
}
.movie__title {
   font-size: 1rem;
   margin: 5px 0;
}

.movie__actions {
   display: flex;
   justify-content: space-between;
}
.movie__read-more {
   background-color: transparent;
   color: $white;
   box-shadow: 0px 0px 1px $white;
   display: flex;
   align-items: center;
   padding: 5px;
   font-size: .9rem;
   transition: color .3s;
}
.movie__read-more:hover {
   color: $turquoise;
}
.movie__add-favorite {
   color: white;
   font-size: .5rem;
   background-color: transparent;
}
.movie__add-favorite:hover i{
   color: $turquoise;
}

.movie-modal {
   position: fixed;
   top: 0;
   left: 0;
   // bottom: 0;
   // right: 0;
   // margin: auto;
   width: 100vw;
   height: 100vh;
   background: linear-gradient(45deg, $portGore, $razzmatazz);
   
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   z-index: 3;
   overflow-y: hidden;
}
.movie-modal__title {
   text-align: center;
   margin: 10px 0;
}
.movie-modal__details p{
   text-align: center;
   margin: 5px 0;
}
.movie-modal__close {
   background-color: $hollywoodCerise;
   color: $white;
   position: absolute;
   top: 40px;
   right: 40px;
   border-radius: 50%;
   padding: 5px;

   display: flex;
   justify-content: center;
   align-items: center;
   transition: transform .2s;
}
.movie-modal__close:hover {
   transform: scale(1.1);
}