/* header */
.header__container {
   display: grid;
   grid-template-columns: 3rem auto 3rem;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

/* menu */
.menu__button, .search__button {
   border: none;
   background-color: transparent;
   color: white;
   display: inline-block;
   padding: 10px;
   cursor: pointer;
   outline: none;
}
.menu {
   padding: 0;
   top: 70%;
   left: 0;
   position: absolute;
   width: 100%;
   z-index: 1;
}
.menu__item {
   list-style: none;
   align-items: center;
}
.menu__link {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 15px;
}
.menu__link > i {
   margin-right: 5px;
}

/* logo */
.header__logo {
   display: flex;
   align-items: center;
}
.logo__icon {
   height: 45px;
   margin-left: auto;
}
.logo__title {
   margin-right: auto;
   font-size: 1.5rem;
   font-weight: bold;
}

/* search */
.search__field {
   position: absolute;
   text-align: center;
   top: 100%;
   left: 0;
}

@media (min-width: 880px) {
   .header__container {
      grid-template-columns: 1fr auto 1fr;
      gap: 15px;
   }
   .menu__button, .search__button {
      display: none;
   }
   .menu, .search__field {
      top: 0;
      position: relative;
      display: block;
   }
   .menu__item {
      display: inline-block;
      margin-right: 10px;
   }
   .menu__link {
      padding: 0;
   }
}