$font: 'Nunito Sans', Arial, Helvetica, sans-serif;

$portGore: #222745;
$white: #e1e5e9;
$turquoise: #2de2e6;
$blueRibbon: #035ee8;
$hollywoodCerise: #f6019d;
$razzmatazz: #d40078;
$electricViolet: #9700cc;