<form action="" class="form" id="loginForm">
   <h2 class="form__title">Login</h2>
   <div class="form__input-group">
      <i class="material-icons">person</i>
      <input type="text" name="username" class="input-group__input" id="username" placeholder="Username">
   </div>
   <div class="form__input-group">
      <i class="material-icons">vpn_key</i>
      <input type="password" name="password" class="input-group__input" id="password" placeholder="Password">
   </div>
   <button class="form__button">LOGIN <i class="material-icons">keyboard_arrow_right</i></button>
</form>