<header class="header">
   <div class="container header__container">
      <nav class="header__menu" id="header__menu">
         <button class="menu__button" id="menuButton">
            <i class="material-icons">menu</i>
         </button>

         <ul class="menu is-hide" id="menu">
            <li class="menu__item">
               <a class="menu__link" href="#/"><i class="material-icons">home</i>Home</a>
            </li>
            <li class="menu__item">
               <a class="menu__link" href="#/favorites"><i class="material-icons">star</i>Favorites</a>
            </li>
            <li class="menu__item">
               <a class="menu__link" href="#/login" id="logout"><i class="material-icons">exit_to_app</i>Logout</a>
            </li>
         </ul>
      </nav>

      <div class="header__logo" id="header__logo">
         <img src="./static/icon.png" alt="" class="logo__icon">
         <h1 class="logo__title">OMDb App</h1>
      </div>
      
      <form class="header__search" id="header__search">
         <input type="search" name="searchField" class="search__field is-hide" id="searchField" class="input-text" placeholder="Search">
         
         <button class="search__button" id="searchButton">
            <i class="material-icons">search</i>
         </button>
      </form>
   </div>
</header>